body {
  background-color: #27ae60;
}
#messege_div {
  width: 100%;
  height: 200px;
  background-color: #27ae60;
}
#name_input {
  width: 100%;
}
#coment_input {
  width: 100%;
  height: 100px;
}